.owl-stage-outer {
    padding: 15px 0 10px 0;
}

.carrosel-filmes {
    margin-top: 5px;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
    
    transition: transform 0.2s ease;
    transform-origin: center;
}

.item {
    position: relative;
}

.item box-filme {
    width: 100%;
    vertical-align: top;
}

.item:hover .box-filme {
    transform: scale(1.05);
}

.item::after {
    content: '';
    position: absolute;
    width: 100%; height: 100%;
    top: 0; left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.2s ease;
}

.item:hover::after {
    opacity: 1;
    transform: scale(1.05);
}

.item i {
    position: absolute;
    top: 50%; left: 50%;
    z-index: 10;
    transform: scale(4);
    display: none;
    cursor: pointer;
}

.item:hover i {
    display: block;
}