/* Declarando variáveis na raiz do documento */
:root {
    --vermelho: #E50914;
    --preto:  #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Elementos base*/

body {
    background: var(--preto);
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header #logo {
    margin-left: 8px;
    margin-right: 16px;
    
    color: var(--vermelho);
    
    font-family: 'Arial Black';
    font-size: 40px;
}

header nav {
    display: flex;
    flex-direction: row;
}

/*O menu horizontal ao lado da logo NETFLIX*/
header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
    font-size: clamp(1px, 3vw, 20px);
}

header nav a:hover {
    color: #fff;
}

/*Filme principal*/

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50) 100%), url('../img/banner_horizontal.jpg');
    
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao {
    width: 205px;
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;

    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 6px;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 5px;
}

.filme-principal .container {
    width: 60%;
    margin-left: 20px;
}