/* Declarando variáveis na raiz do documento */
:root {
    --vermelho: #E50914;
    --preto:  #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preto);
    color: white;
    font-family: 'Arial', Times, serif;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 56px;
}

header #logo {
    margin-left: 32px;
    margin-right: 16px;
    
    color: var(--vermelho);
    
    font-family: 'Arial Black';
    font-size: 34px;
}

header nav {
    display: flex;
    flex-direction: row;
}

/*O menu horizontal ao lado da logo NETFLIX*/
header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 32px;
    font-size: clamp(16px, 3vw, 18px);
}

header nav a:hover {
    color: #fff;
}

header nav #nav_inicio {
    color: #fff;
}

/*Estilização da div que contém o banner da série principal*/

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50) 100%), url('../img/banner_horizontal.jpg');
    
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao {
    width: 205px;
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    -webkit-tap-highlight-color: transparent;

    padding: 15px 30px;
    font-size: 12px;

    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: ease;

    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 6px;
}

main .filme-principal .botao {
    margin-right: 15px;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 5px;
}

.botao-circular {
    width: 40px;
    height: 40px;
    
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    -webkit-tap-highlight-color: transparent;
    
    border: 1px solid white;
    border-radius: 50%;
    
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: ease;
}

.fechar-dialog {
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-tap-highlight-color: transparent;
}

.botao-circular:hover {
    background-color: white;
    color: black;
}

.filme-principal .container {
    width: 60%;
    margin-left: 20px;
}