/*Esta media rule detecta dispositivos mobile (incluindo tablets e smartphones) e touch screen*/
@media only screen and (hover: none) and (pointer: coarse) { 
    header nav a:hover {
        color: var(--cinza-nav-a);
        background-color: inherit;
    }
}

/*Alterando estilos quando a largura da tela for <= 780*/
@media screen and (max-width: 780px) {
    /*Alterando a largura do dialog do MAIS INFORMAÇÕES pra 90%*/
    #dialog-more-info-bg .dialog-container {
        width: 90%;
    }
}

/*Alterando estilos quando a largura da tela for <= 740px*/
@media screen and (max-width: 740px) {
    /*:nth-child(2) especifica que quero dar margin-top apenas no 2 botão*/
    main .filme-principal .container .botoes button:nth-child(2) {
        margin-top: 8px;
    }
}

/*Alterando estilos quando a largura da tela for <= 700px*/
@media screen and (max-width: 700px) {
    header .container #logo {
        margin-top: 6px;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    header .container {
        display: flex;
        flex-direction: column;
    }

    header .container nav {
        padding-top: 2px;
        padding-bottom: 6px;
    }

    header .container nav a {
        margin-right: 0px;
    }

    #nav_inicio, #nav_series, #nav_filmes {
        margin-right: 15px;
    }
}

/*Alterando estilos quando a largura da tela for >= 1000px*/
@media screen and (min-width: 1000px) {
    .descricao {
        width: 55%;
    }
}

/*Alterando estilos quando a largura da tela for <= 440px*/
@media screen and (max-width: 440px) {
    .buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .buttons .botao-circular {
        margin-top: 12px;
        min-width: 35px;
        min-height: 35px;
    }
}

@media screen and (max-width: 560px) {
    #dialog-more-info-bg .bottom-container {
        padding: 20px;
    }
} 

@media screen and (max-width: 378px) {
    #dialog-more-info-bg .dialog-banner .botao {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        font-size: 2vw;
        width: 2vw;
        min-width: 100px;
        padding: 10px 20px 10px 20px;
    }
}